@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
#header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
    padding-top: 18%;
    min-height: 100vh;
}

canvas {
    width: 200px;
}

.Typist {
    color: var(--color-text-lightest);
    padding-left: 10%;
    text-align: left;
    font-size: 70px;
    margin-top: 30px;
}

@keyframes blinkingText{
    0%{     color: --color-text-green;    }
    49%{    color: --color-text-green; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: --color-text-green;    }
}

.Typist .Cursor--blinking {
    color: var(--color-text-green);
    padding-left: 4px;
    animation:blinkingText 0.9s infinite;
}

.header-title {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
}

.header-name {
    font-family: 'Poppins', sans-serif;
    color: var(--color-text-green);
    font-size: 70px;
}

.header-body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
    font-size: 18px;
    max-width: 35%;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 10%;
    text-align: justify;
}

.header-button {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text-green);
    font-weight: bolder;
    padding: 10px 30px;
    cursor: pointer;
    border: 3px solid var(--color-text-green);
    border-radius: 5px;
    margin-left: 10%
}

.header-button:hover{
    background-color: var(--color-bg-lightest);
}

.header-button-cv {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text-green);
    font-weight: bolder;
    padding: 10px 30px;
    cursor: pointer;
    border: 3px solid var(--color-text-green);
    border-radius: 5px;
    margin-left: 5%;
}


b{
    font-size: 20px
}



@media only screen and (max-width: 425px) and (min-width:320px){

    #header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5%;
        padding-top: 35%;
        min-height: 100vh;
    }

    .Typist {
        color: var(--color-text-lightest);
        padding-left: 5%;
        text-align: left;
        font-size: 30px;
        margin-top: 35px;
    }

    .header-title {
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
    }

    .header-name {
        font-family: 'Poppins', sans-serif;
        color: var(--color-text-green);
        font-size: 35px;
    }

    .header-body{
        font-family: 'Poppins', sans-serif;
        color: var(--color-text);
        font-size: 14px;
        max-width: 65%;
        padding-top: 10px;
        padding-bottom: 30px;
        padding-left: 5%;
        text-align: justify;
    }

    .header-button {
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        color: var(--color-text-green);
        font-weight: bolder;
        padding: 10px 30px;
        cursor: pointer;
        border: 3px solid var(--color-text-green);
        border-radius: 5px;
        margin-left: 5%
    }
}




@media only screen and (max-width: 1024px) and (min-width:767px){

    #header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5%;
        padding-top: 30%;
        min-height: 100vh;
    }

    .Typist {
        color: var(--color-text-lightest);
        padding-left: 5%;
        text-align: left;
        font-size: 38px;
        margin-top: 35px;
    }

    .header-title {
        font-family: 'Poppins', sans-serif;
        font-size: 48px;
    }

    .header-name {
        font-family: 'Poppins', sans-serif;
        color: var(--color-text-green);
        font-size: 48px;
    }

    .header-body{
        font-family: 'Poppins', sans-serif;
        color: var(--color-text);
        font-size: 18px;
        max-width: 65%;
        padding-top: 10px;
        padding-bottom: 30px;
        padding-left: 5%;
        text-align: justify;
    }

    .header-button {
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        color: var(--color-text-green);
        font-weight: bolder;
        padding: 10px 30px;
        cursor: pointer;
        border: 3px solid var(--color-text-green);
        border-radius: 5px;
        margin-left: 5%
    }
}